*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
@font-face {
    font-family: silkscreen, cursive;
    src: url(https://fonts.googleapis.com/css2?family=Silkscreen&display=swap);
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
}
div{ 
    text-align:center; 
    padding:30px 8px; 
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: #0B243B;
    position: sticky;
    top: 0;
    width: 100%;
    height: 100px;
}

/* Logo */
.logo{
    display: inline-block;
    position: relative;
    color: white;
    font-size: 60px;
    margin: 15px 100px;
    width: 60px;
    height: 60px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    overflow: hidden;
    
}

.menu a{
    display: block;
    border: #E6E6E6 2px solid;
    border-radius: 0.5rem;
    border-spacing: 5px;
    display: block;
    margin: 20px 10px 5px 10px;
    padding: 15px 7.5px 15px 7.5px;
    color:rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.menu li a:hover{
    color: #0B243B;
    background-color: white;
    font-weight: bold;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.curso{
    width: 300px;
    padding: 15px;
        font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    border: 3px solid #17202A;
    border-radius: 10px;
    margin: 5px;
    text-align: justify;
    background-color: wheat;
    position: relative;

}
.tumbail{
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video {
    flex: 3;
    width: 28%;
    border: 2px solid #17202A;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;
    margin-left: 60px;
    align-content: space-between;
}
.secciones {
    font-family: 'Silkscreen', cursive;
    font-size: 4rem;
    text-align: left;
    color: rgb(11, 219, 247);
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: 10rem;
}
.boton{
    border: #000 2px solid;
    border-radius: 2rem;
    font-family: 'Wendy One', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    color:black;
    text-decoration:solid;
        position: absolute;
    bottom: 0;
    margin-bottom: 5px;

}
 
.boton a{
    color: #000000;
}

.boton:hover, .boton a:hover{
    background-color:#0B243B;
    color: #fff;
    
}

/* Recursos web */
#lista1 ul { 
    list-style:none; 
}

#lista1 ul li { 
    font-family:Georgia,serif,Times; 
    font-size:22px; 
}

#lista1 ul li a { 
    display:block; 
    width:300px; 
    height:28px; 
    background-color: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
    border-left:20px solid rgb(114, 241, 122); 
    padding-left:10px;
    text-decoration:none; 
    color:#111469; 
}

#lista1 ul li a:hover { 
    -moz-transform:rotate(-5deg); 
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
    margin-left: 10px;
}
/* Preguntas frecuentes */

#lista4 ol {
    counter-reset: li; 
    list-style: none; 
    list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista4 ol {
    margin: 0 0 0 2em; 
}

#lista4 {
    list-style-type: none;
    margin: 40px;
    margin-left: 3em;
    padding: 0; 
    counter-reset: li-counter;
}

#lista4 > li{
    position: relative;
    margin-bottom: 20px;
    padding: 1em;
    border-left: 2px solid #CCCCCC;
    background-color:rgb(164, 229, 235);
    font-size: 2rem;
    margin-left: 5rem;
    font-family: 'Quicksand', sans-serif;
    
}

#lista4 > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
    font-size: 4em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #000000;
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}


.preg{
    font-size: 2rem;
    text-align: left;
    color: rgb(3, 9, 31);
    margin-left: 90px;
    font-family: 'Quicksand', sans-serif;
}
/* dar stylo a formulario */
.seccion_contacto{
    text-align: center;
}
#contacto{
    text-align: center; 
    margin-left: 0;
}
form{
    background-color:gray;
    color:white;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 25px 90px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    text-align: center;
}
label{
    display: block;
    padding: 5px;
}
input{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: white;
    color: black;

}

#form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



footer{
    background-color:linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
    text-align: center;
    color:white;
    left: 0;
    bottom:0;
    width:100%;
    padding: 20px;
    height: 50px;
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.icon{
    color:white;
    margin: 0px, 6px;
    font-size:2vw;
}
/* Menu Icon */

.icono{
    cursor: pointer;
    float: right;
    padding: 45px 30px;
}


.icono-line {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    width: 30px;
    
}

.icono-line::before,
.icono-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.icono-line::before{
    top: 10px;
}

.icono-line::after{
    top: -10px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .icono .icono-line {
    background: transparent;
}

.side-menu:checked ~ .icono .icono-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .icono .icono-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */

@media (min-width: 840px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: grey;
        
    }
    
    .icono{
        display: none;
    }

}
