html{
    font-size: 62.5%;

}
@font-face {
    font-family: silkscreen, cursive;
    src: url(https://fonts.googleapis.com/css2?family=Silkscreen&display=swap);
}
body{
    background: rgb(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
}	

#titulo {
    font-size: 5rem;
    /* padding: 1.25rem 0rem; */
    text-align:center;
    color: #0B243B;
    animation:flip; 
    animation-duration: 5s; 
}
 

nav{
    background-color: #0B243B;
    align-items: center;
    justify-content: center;
    /* padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem; */
    position: relative;
}
nav a{
    color:rgb(255, 255, 255);
    border: #E6E6E6 2px solid;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 0.9rem;
    text-decoration: none;
    font-size: 1.2rem;
    display:inline-block;
    position:relative;
    font-family: 'Quicksand', sans-serif;
    
}
nav a:hover{
    color: #0B243B;
    background-color: #26f3fa;
}
#logo_principal{
    height: 30rem;
    width: 40rem;
    position: relative;
}
/* main index */
.cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.curso{
    width: 300px;
    padding: 15px;
    border: 2px solid #17202A;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;

}

.tumbail{
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video {
    flex: 3;
    width: 28%;
    border: 2px solid #17202A;
    border-radius: 10px;
    margin: 10px;
    text-align: justify;
    margin-left: 60px;
    align-content: space-between;
}


.secciones {
    font-family: 'Silkscreen', cursive;
    font-size: 4rem;
    text-align: left;
    color: rgb(11, 219, 247);
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin-left: 10rem;
}

.boton{
    display:inline-block;
    border: #000 2px solid;
    border-radius: 2rem;
    font-family: 'Wendy One', sans-serif;
    font-size: 2rem;
    padding: 1rem;
    color:black;
    text-decoration:solid;

}
.boton:hover{
    background-color: #000;
    color: #fff;
}


/* Recursos web */
#lista1 ul { 
    list-style:none; 
}

#lista1 ul li { 
    font-family:Georgia,serif,Times; 
    font-size:22px; 
}

#lista1 ul li a { 
    display:block; 
    width:300px; 
    height:28px; 
    background-color: linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
    border-left:20px solid rgb(114, 241, 122); 
    padding-left:10px;
    text-decoration:none; 
    color:#111469; 
}

#lista1 ul li a:hover { 
    -moz-transform:rotate(-5deg); 
    -moz-box-shadow:10px 10px 20px #000000;
    -webkit-transform:rotate(-5deg); 
    -webkit-box-shadow:10px 10px 20px #000000;
    transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
    margin-left: 10px;
}

/* Preguntas frecuentes */

#lista4 ol {
    counter-reset: li; 
    list-style: none; 
    list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista4 ol {
    margin: 0 0 0 2em; 
}

#lista4 {
    list-style-type: none;
    list-style-type: decimal !ie; 
    margin: 40px;
    margin-left: 3em;
    padding: 0; 
    counter-reset: li-counter;
}

#lista4 > li{
    position: relative;
    margin-bottom: 20px;
    padding: 1em;
    border-left: 2px solid #CCCCCC;
    background-color:rgb(164, 229, 235);
    font-size: 2rem;
    margin-left: 5rem;
    font-family: 'Quicksand', sans-serif;
    
}

#lista4 > li:before {
    position: absolute;
    top: 0;
    left: -0.95em;
    width: 1em;
    font-size: 4em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #000000;
     
    transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    z-index: -99;
    overflow: hidden;
     
    content: counter(li-counter);
    counter-increment: li-counter;
}


.preg{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-align: left;
    color: rgb(3, 9, 31);
    margin-left: 90px;
    font-family: 'Quicksand', sans-serif;
}
/* dar stylo a formulario */
form{
    background-color:gray;
    color:white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 400px;
    font-size: 20px;
}
#nombre{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;

}
#apellido{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;
}
#email{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;
}
#comentarios{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;
}


#form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



footer{
    background-color:linear-gradient(135deg, rgba(34,193,195,1) 23%, rgba(253,247,45,1) 100%); 
    text-align: center;
    color:white;
    left: 0;
    bottom:0;
    width:100%;
    padding: 20px;
    height: 50px;
    font-size: 20px;
    margin-top: 0px;
    font-family: 'Quicksand', sans-serif;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.icon{
    color:white;
    margin: 0px, 6px;
    font-size:2vw;
}

