/* Este css no va es solo para ayudarme a maquetar la pag */
h2{
    font-family: "Times New Roman", Times, serif;
    background-color:gray;
    color:white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 400px;
    font-size: 20px;

}

form{
    background-color:gray;
    color:white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin-left: 400px;
    font-size: 20px;
}
#nombre{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;

}
#apellido{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;
}
#email{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;
}
#comentarios{
    text-align: center;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 5px;
    background-color: black;
    color: white;
}


#form button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}



/* Hasta aca hay que modificar */